body {
  background: url(food.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #325c71;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  background-color: #dcedf7;
  border-radius: 20px;
  padding: 15px;
}
.button-add {
  font-family: 'Montserrat', sans-serif;
  background-color: #77cf40;
  padding: 20px;
  border-radius: 20px;
  border: none;
  font-size: 17px;
}

.button-delete {
  font-family: 'Montserrat', sans-serif;
  background: none;
  border: 0;
  font-size: 10px;
  color: red;
  font-weight: bolder;
}

.App {
  display: flex;
  justify-content: space-around;
}

.whole-plan {
  width: 70%;
  height: 100vh;
}

.myInput {
  width: 70%;
  height: 20px;
  padding: 10px;
  border-radius: 20px;
  margin-top: 30px;
}

textarea {
  display: block;
  border: 1px solid #ddd;
  margin-top: 30px;
  width: 70%;
  height: 200px;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
}

.selected {
  background-color: #fad106;
}

.default {
  background-color: #dcedf7;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 20px;
}

.field {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 14px;
}

@media all and (max-width: 1200px) {
  body {
    background: url(foodTwo.jpg);
    height: 150vh;
    background-size: contain;
  }

  .selected {
    background-color: #fa942c;
  }
  
  .default {
    background-color: #dedeb9;
  }
}

@media all and (max-width: 800px) {
  body {
    background: url(foodTwo.jpg);
    background-size: cover;
    background-color: #a9c874;
  }
  .App {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 25px;
    padding: 10px;
  }
  .whole-plan {
    width:90%;
  }
  
  .myInput {
    width: 90%;
    margin-top: 10px;
  }

  textarea {
    margin-top: 10px;
    width: 90%;
    height: 150px;
  }

  .selected {
    background-color: #fa942c;
  }
  
  .default {
    background-color: #dedeb9;
  }

.form {
  color: #c50201;
  font-weight: 900;
  background-color: #dcedf7;
  border-radius: 20px;
  padding: 15px;
  margin-top: 50px;
}
}